# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production build
client/dist/

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
